.screen{
    display: grid;
    grid-template-rows: 10fr 80fr 10fr;   
    grid-template-columns: 35fr 30fr 35fr;
    height: 100vh;
}

.calculator{
    padding: 3em;
    border: 1px solid black;
    border-radius: 8%;
    grid-column: 2;
    grid-row: 2;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    display: grid;
    place-items: center;
    width: 6em;
    height: 6em;
    border:1px solid black;
    border-radius: 5%;
    margin: 1em;
    color: white;
    background-color: brown;
    cursor: pointer;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5;
    background-color: burlywood;
    border-radius: 0px 0px 10px 10px;
}

.display{
    display: flex;
    justify-content: flex-end;
    border:1px solid black;
    color: black;
    font-size: 2em;
    border-radius: 10px 10px 0px 0px;
}

.disabled{
    background-color: grey;
}